.list-group
    a.list-group-item.list-group-item-action(href="/atletas") Lista Atletas
    a.list-group-item.list-group-item-action(href="/atletas/new") Nuevo Atleta
br
.list-group
    a.list-group-item.list-group-item-action(href="/empresas") Lista Empresas
    a.list-group-item.list-group-item-action(href="/empresas/new") Nueva Empresa